# Kafka 
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=cve_events

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=cve_analysis_dev
MONGODB_COLLECTION=cve_events

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=cve_analysis_wh
SNOWFLAKE_DATABASE=cve_analysis

# NVD API 
NVD_API_KEY=
NVD_RESULTS_PER_PAGE=100


LOG_LEVEL=INFO
